################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Plex.Extensions.Configuration/bin
/Plex.Extensions.Configuration/obj
